<!DOCTYPE html>
<html>
<head>
  <title>Prose</title>
  <%= stylesheet_link_tag    "prose/application", media: "all" %>
  <%= javascript_include_tag "prose/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
